[submodule "Competition_Olympics-Running"]
	path = Competition_Olympics-Running
	url = git@github.com:sjtu-marl/Competition_Olympics-Running.git
[submodule "IsaacGymEnvs"]
	path = IsaacGymEnvs
	url = https://github.com/NVIDIA-Omniverse/IsaacGymEnvs.git
[submodule "MARL-Comm"]
	path = MARL-Comm
	url = git@github.com:Leo-xh/MARL-Comm.git
